.stool{
 display: flex; 
justify-content: center;

}
.stool input{
    width: 200px;
    height: 25px;
    border-radius: 10px  0px 0px  10px;
    padding-top: 2px;
    border-style:  solid
  margin-top: 100px;
}




.stool img{
 width: 30px;
 height: 30px;
 background-color: rgb(156, 156, 156);
 border-radius: 0px  10px 10px  0px;
 padding: 1px 1px;
 margin-top: 100.2px;
}
